<h3>Cart</h3>

<p>
	<a routerLink="/shipping">Shipping Prices</a>
</p>

<div class="cart-item" *ngFor="let item of items; let i = index">
	<span>{{item.name}} </span>
	<span>{{item.price | currency }}</span>
	<button (click)="items.splice(i, 1)" style="margin-left: 5px;">X</button>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
	<div>
		<label for="name">
    Name
  </label>
		<input id="name" type="text" formControlName="name">
</div>
		<div>
			<label for="adress">
    Adress
  </label>
			<input id="adress" type="text" fromControlName="adress">
</div>

			<button class="button" type="submit" >Purchase</button>

</form>




<button (click)="clearCart()" style="margin-top:5px;">Clear</button>
<hr>
<button [routerLink]="['']">Back</button>